/dist
/node_modules

/**/node_modules
/**/dist
/**/.env
/**/.env.local
package-lock.json
/**/package-lock.json
**/package-lock.json

.env
docker-compose.local.yml

.idea

images/files

test.http
http-client.env.json
tes.json

#cache
/**/webprojnpm-cache